<!-- <p>header works!</p> -->


<header id="header" class="fixed-top header-scrolled"> 
    <div class="container d-flex align-items-center justify-content-lg-between">
      <h1 class="logo me-auto me-lg-0">
        <a style="text-decoration: none; cursor: pointer;" routerLink="/home">DMJS S<span>.</span>A<span>.</span>S<span>.</span></a></h1>
      
        <!-- ======= Nav ======= -->
        <app-nav></app-nav>
        <!-- Nav -->
  
      <a href="#about" class="get-started-btn scrollto">Conocenos más</a>
    </div>
</header>
