<!-- <p>nosotros works!</p> -->



<div class="container mt-5" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="assets/img/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
        <h3>¡Bienvenid@!! Somos DMJ SOLUTION S.A.S.</h3>
        <p class="fst-italic " style="text-align: justify;">
            Tecnologias a tu Servicio. Somos una empresa ecuatoriana radicada en la provincia de Santa Elena especializada en servicios de Tecnología e Innovación,
            nuestro objetivo es  desarrollar, crear soluciones efectivas para los negocios de nuestros clientes y automatizar sus procesos mediante la transformación tecnológica 
            eficiencia e industrializacion de procesos colocando a su disposicion nuestra experiencia, servicios y soluciones en bases tecnologicas.
  
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> .</li>
          <li><i class="ri-check-double-line"></i> .</li>
          <li><i class="ri-check-double-line"></i> .</li>
        </ul>
        <p>
          .
        </p>
      </div>
    </div>
  
  </div>
