
<app-header></app-header>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <app-hero></app-hero>
</section><!-- End Hero -->

<main id="main">
    
     <!-- ======= About Section ======= -->
     <section id="about"  class="about">
        <app-nosotros></app-nosotros>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <app-swiper></app-swiper>
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <app-features></app-features>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <app-servicios></app-servicios>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
       <app-mensaje></app-mensaje>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <app-portfolio></app-portfolio>
    </section><!-- End Portfolio Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <app-counts></app-counts>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <app-testimonials></app-testimonials>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <app-team></app-team>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <app-contact></app-contact>
    </section><!-- End Contact Section -->

</main>

<!-- ======= Footer ======= -->
<footer id="footer">
    <app-footer></app-footer>
</footer><!-- End Footer -->






