<!-- <p>footer works!</p> -->

<div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>DMJ SOLUTIONS<span>.</span></h3>
            <p>
              La Libertad, Calle 29 entre Av. 20 & 21 <br>
              Santa Elena, Ecuador<br><br>
              <strong>Teléfono:</strong> +593 979569707<br>
              <strong>Email:</strong> dmjsolutions-sas@outlook.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Enlaces Útiles</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Conócenos</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Términos y Condiciones</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Políticas de Privacidad</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestros Servicios</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Desarrollo de Software</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Desarrollo de Aplicaciones Móviles</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Desarrollo Web & Diseño Gráfico</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Mantenimiento de Software y Hardware</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Redes </a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Seguridad</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Elaboración de Proyectos Titulares</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Cursos Varios</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Novedades </h4>
          <p>Recibe las principales noticias de nuestra empresa y actualiza tus conocimientos. Escribe tu correo y Listo!!</p>
          
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Suscribirme">
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
       <strong><span>DMJ SOLUTIONS</span></strong>. Todos los derechos reservados 2022
    </div>
  </div>
